@font-face {
  font-family: "SymbolaRegular";
  src: url("../assets/fonts/SymbolaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futhark";
  src: url("../assets/fonts/Futhark-Adapted.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CelticaBook";
  src: url("../assets/fonts/Celtica-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Variables for consistency and simple modifications later  */
:root {
  --control-fgColor: gold;
  --control-bgColor: rgba(240, 240, 240, 0.46);
  --icon-fontFace: "SymbolaRegular", sans-serif;
  --logo-frameColor: rgba(102, 51, 153, 0.25);
  --logo-frameColor: white;
  --logo-bgColor: rgba(0, 0, 0, 1);
  --logo-size: 80px;
  --menu-bgColor: rgb(40, 40, 40);
  --menu-timing: 0.5s;
}

/*  Global styles and overrides */
body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: linen;
  line-height: 1.15;
}
body * {
  box-sizing: border-box;
}
#scheme-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}

/* Generalized styling for multiple elements */
label {
  cursor: pointer;
}
.hidden-control {
  display: none;
}

/*  Side menu and controller defaults  */
.nav-box {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-start;
}
.nav-box-switch {
  display: inline-block;
  background-color: var(--control-bgColor);
  color: var(--control-fgColor);
  text-align: center;
  padding: 0;
  font-family: var(--icon-fontFace);
  transform-origin: 50% 55%;
}
.nav-box-switch span {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform var(--menu-timing) linear;
}
.side-menu {
  padding: 0px;
  width: 0;
  background-color: var(--menu-bgColor);
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: auto;
  transform-origin: 0% 5%;
  transition: width var(--menu-timing) linear,
    transform var(--menu-timing) linear,
    background-color calc(2 * var(--menu-timing) / 3) linear
      calc(var(--menu-timing) / 3);
}
.side-menu ul {
  padding: 0;
  margin: 0 0 0 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.side-menu li {
  display: inline-block;
  padding: 0.5rem;
}

/*  Building the page layout   */

/*  The page header: logo, title, site menu control  */
#site-header {
  display: grid;
  grid-template-columns: var(--logo-size) 1fr var(--logo-size);
  justify-content: space-between;
  align-items: center;
}
#site-header > div:nth-child(1) {
  box-sizing: border-box;
  width: var(--logo-size);
  height: var(--logo-size);
  padding: 2px;
  background-color: var(--logo-frameColor);
}
#site-header > div:nth-child(1) img {
  width: calc(var(--logo-size) - 4px);
  height: calc(var(--logo-size) - 4px);
  border-radius: calc((var(--logo-size) - 4px) / 2);
  background-color: var(--logo-bgColor);
}
#site-header > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
#site-header-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#site-header-title > div:first-child {
  font-size: 2rem;
}
#site-header-title > div:last-child {
  font-size: 1.5rem;
}
#head-nav {
  position: absolute;
  top: var(--logo-size);
  right: 0;
  width: auto;
  transform: perspective(250px) rotateX(270deg);
  transform-origin: 100% 5%;
  transition: transform var(--menu-timing) linear,
    background-color calc(2 * var(--menu-timing) / 3) linear
      calc(var(--menu-timing) / 3);
}
#site-nav-control:checked ~ #scheme-container #head-nav {
  transform: rotateX(360deg);
  background-color: rgba(40, 40, 40, 1);
  transition: transform var(--menu-timing) linear,
    background-color calc(2 * var(--menu-timing) / 3) linear;
}
#site-header > div:nth-child(3) {
  text-align: center;
}

/*  The site navigation menu switch  */
#site-nav-switch {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-gap: 8px;
  grid-template-rows: repeat(3, 5px);
  padding: 20px;
}
#site-nav-switch span {
  border-radius: 3px;
  background-color: green;
  transition: transform var(--menu-timing) linear,
    opacity calc(var(--menu-timing) / 2) linear calc(var(--menu-timing) / 2);
}
#site-nav-control:checked
  ~ #scheme-container
  #site-nav-switch
  span:first-child {
  transform: translateX(2.5px) translateY(13px) rotate(-315deg);
}
#site-nav-control:checked
  ~ #scheme-container
  #site-nav-switch
  span:nth-child(2) {
  opacity: 0;
}
#site-nav-control:checked ~ #scheme-container #site-nav-switch span:last-child {
  transform: translateX(2.5px) translateY(-13px) rotate(315deg);
}

/*  The other navigation menus  */
#page-nav-box {
  left: 0;
  flex-direction: row-reverse;
}
#page-nav-switch {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#page-nav {
  height: 250px;
  transform: perspective(350px) rotateY(-90deg);
  transform-origin: 10% 50%;
}
#page-nav-control:checked ~ #scheme-container #page-nav-switch span {
  transform: rotate(180deg);
}
#page-nav-control:checked ~ #scheme-container #page-nav {
  width: 150px;
  transform: rotateX(0deg);
}
#archive-nav-box {
  right: 0;
  flex-direction: row;
}
#archive-nav-switch {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#archive-nav {
  height: 250px;
  transform: perspective(350px) rotateY(90deg);
  transform-origin: 90% 50%;
}
#archive-nav-control:checked ~ #scheme-container #archive-nav-switch span {
  transform: rotate(-180deg);
}
#archive-nav-control:checked ~ #scheme-container #archive-nav {
  width: 150px;
  transform: rotateY(0deg);
}

/* The hero box, only included on the home page */

/* The main body of the page */
main {
  position: relative;
  top: 0;
  left: 0;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.15);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--logo-size) / 2);
  display: grid;
  grid-template-columns: auto calc(var(--logo-size) / 2);
  align-content: space-between;
  align-items: center;
  background-color: rgba(0, 102, 0, 0.25);
}
#copyright {
  font-size: 0.625rem;
}
#settings-menu {
  align-self: center;
  text-align: center;
}
#settings-switch {
  display: inline-block;
  font-size: 2rem;
  font-family: var(--icon-fontFace);
  scale: 0.5;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: all var(--menu-timing) linear;
}
#view-settings {
  position: absolute;
  bottom: calc(var(--logo-size) / 2);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: perspective(350px) rotateY(-90deg);
  transform-origin: 98% 50%;
  transition: all var(--menu-timing) linear;
}
#settings-control:checked ~ #scheme-container #view-settings {
  transform: rotateY(0deg);
  background-color: var(--menu-bgColor);
}
#view-settings > div {
  width: calc(var(--logo-size) / 2);
  height: calc(var(--logo-size) / 2);
  font-size: 1.75rem;
  text-align: center;
}
#settings-control:checked ~ #scheme-container #settings-switch {
  scale: none;
  transform: rotate(360deg);
}

.font-switch {
  font-family: var(--icon-fontFace);
  display: none;
}
#font-size-1:checked ~ #scheme-container #font-up-2 {
  display: inline-block;
}
#font-size-2:checked ~ #scheme-container #font-dn-1 {
  display: inline-block;
}
#font-size-2:checked ~ #scheme-container #font-up-3 {
  display: inline-block;
}
#font-size-3:checked ~ #scheme-container #font-dn-2 {
  display: inline-block;
}
#font-size-3:checked ~ #scheme-container #font-up-4 {
  display: inline-block;
}
#font-size-4:checked ~ #scheme-container #font-dn-3 {
  display: inline-block;
}
#font-size-4:checked ~ #scheme-container #font-up-5 {
  display: inline-block;
}
#font-size-5:checked ~ #scheme-container #font-dn-4 {
  display: inline-block;
}
#font-size-5:checked ~ #scheme-container #font-up-6 {
  display: inline-block;
}
#font-size-6:checked ~ #scheme-container #font-dn-5 {
  display: inline-block;
}
#font-size-6:checked ~ #scheme-container #font-up-7 {
  display: inline-block;
}
#font-size-7:checked ~ #scheme-container #font-dn-6 {
  display: inline-block;
}

#scheme-switch span {
  display: inline-block;
  scale: 0.75;
  transform: rotate(-360deg);
  transform-origin: 53% 53%;
  transition: all var(--menu-timing) linear;
}
#scheme-control:checked ~ #scheme-container #scheme-switch span {
  scale: none;
  transform: rotate(0deg);
}
#scheme-options {
  position: absolute;
  right: calc(var(--logo-size) / 2);
  bottom: calc(var(--logo-size) / 2);
  width: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  ocolor: var(--menu-fgColor);
  background-color: rgba(0, 0, 0, 0);
  transform: perspective(350px) rotateY(-90deg);
  transform-origin: 95% 50%;
  transition: all var(--menu-timing) linear;
}
#scheme-options label {
  width: 9rem;
  padding: 0.5rem;
  text-align: center;
}
#scheme-accept {
  padding: 0.75rem;
  border-radius: 0.35rem;
  background-color: green;
  color: white;
}

#scheme-control:checked ~ #scheme-container #scheme-options {
  background-color: var(--menu-bgColor);
  transform: rotateY(0deg);
}

#alt-mode-switch,
#main-mode-switch {
  display: block;
  text-align: center;
}

@media not all and (prefers-color-scheme: light) {
  #main-is-lite,
  #alt-is-dark {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  #main-is-dark,
  #alt-is-lite {
    display: none;
  }
}
#main-mode-switch,
#alt-mode-switch {
  display: none;
}
#main-mode:checked ~ #scheme-container #alt-mode-switch {
  display: block;
}
#alt-mode:checked ~ #scheme-container #main-mode-switch {
  display: block;
}

/*  wide screen  */

#widescreen:checked ~ #scheme-container #site-header {
  align-items: start;
}

#widescreen:checked ~ #scheme-container #site-header > div:nth-child(2) {
  justify-content: space-between;
}

#widescreen:checked ~ #scheme-container #site-header-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#widescreen:checked
  ~ #scheme-container
  #site-header-title
  > div:last-child::before {
  content: "\a0\2014\a0";
}
#widescreen:checked ~ #scheme-container #head-nav {
  position: static;
  font-size: 0.75rem;
  width: auto;
  display: flex;
  background-color: inherit;
  flex-direction: row;
  justify-content: space-between;
  transform: none;
  transition: none;
}
#widescreen:checked ~ #scheme-container #head-nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#widescreen:checked ~ #scheme-container #head-nav-left {
  justify-content: flex-start;
}
#widescreen:checked ~ #scheme-container #head-nav-right {
  justify-content: flex-end;
  flex-grow: 1;
}
#widescreen:checked ~ #scheme-container #head-nav li {
  display: inline-block;
  margin: 0 15px;
}
#widescreen:checked ~ #scheme-container #site-nav-switch {
  display: none;
}

@media (min-width: 40rem) {
  #site-header-title > div:first-child {
    font-size: calc(16px * (100vw - 40rem) / (896 - 640));
  }
  #site-header-title > div:last-child {
    font-size: calc(20px + (32 - 20) * (100vw - 640px) / (896 - 640));
  }
}
@media screen and (min-width: 56rem) {
  #site-header-title > div:first-child {
    font-size: 2rem;
  }
  #site-header-title > div:last-child {
    font-size: 2rem;
  }
}
